<div class="content-text" style="margin: 0;">
  <h2>Sponsors</h2>
  <p>This event is is run by volunteers and would not be possible without our sponsors' generous donations! Thanks to our wonderful 2018 sponsors (many of which are hiring, hint hint!)</p>
</div>
<h3 style="grid-column: span 12; text-align: center;">Ruby sponsors</h3>
  <div style="grid-column: 4 / span 6;"><img alt="Flux Federation" src="/images/rb-sponsors-2018_flux.svg"></div>
  <div style="grid-column: 1 / span 6;"><img alt="Talent Army" src="/images/rb-sponsors-2018_talentarmy.svg"></div>
  <div style="grid-column: 7 / span 6;"><img alt="Boost" src="/images/rb-sponsors-2018_boost.svg"></div>

<h3 style="grid-column: span 12; text-align: center;">Gold sponsors</h3>
  <div style="grid-column: 1 / span 4;"><img alt="Abletech" src="/images/rb-sponsors-2018_abletech.svg"></div>
  <div style="grid-column: 5 / span 4;"><img alt="BNZ Digital" src="/images/rb-sponsors-2018_bnz.svg"></div>
  <div style="grid-column: 9 / span 4;"><img alt="TradeMe" src="/images/rb-sponsors-2018_trademe.svg"></div>

<h3 style="grid-column: span 12; text-align: center;">Silver sponsors</h3>
  <div style="grid-column: 1 / span 4; text-align: right;"><img alt="Rabid" src="/images/rb-sponsors-2018_rabid.svg"></div>
  <div style="grid-column: 5 / span 4; text-align: center;"><img alt="Raygun" src="/images/rb-sponsors-2018_raygun.svg"></div>
  <div style="grid-column: 9 / span 4; text-align: left;"><img alt="Sailthru" src="/images/rb-sponsors-2018_sailthru.svg"></div>

<h3 style="grid-column: span 12; text-align: center;">Bronze sponsors</h3>
  <div style="grid-column: 4 / span 2;"><img alt="Snapper" src="/images/rb-sponsors-2018_snapper.svg"></div>
  <div style="grid-column: 6 / span 2;"><img alt="Springload" src="/images/rb-sponsors-2018_springload.svg"></div>
  <div style="grid-column: 8 / span 2;"><img alt="Summer of Tech" src="/images/rb-sponsors-2018_summeroftech.svg"></div>

<h3 style="grid-column: span 12; text-align: center;">Swag sponsors</h3>
  <div style="grid-column: 6 / span 2; text-align: center;"><img alt="Github" src="/images/rb-sponsors-2018_github.svg"></div>
