<div class="content-text" style="margin: 0;">
  <h2>Sponsors</h2>
  <p>This event is is run by volunteers and would not be possible without our sponsors' generous donations! Thanks to our wonderful 2018 sponsors (many of which are hiring, hint hint!)</p>
</div>
<h3 style="grid-column: span 12; text-align: center;">Ruby sponsors</h3>
  <div style="grid-column: 4 / span 6;"><a href="https://fluxfederation.com/"><img alt="Flux Federation" src="/images/rb-sponsors-2018_flux.svg"></a></div>
  <div style="grid-column: 1 / span 6;"><a href="https://www.talent.army/"><img alt="Talent Army" src="/images/rb-sponsors-2018_talentarmy.svg"></a></div>
  <div style="grid-column: 7 / span 6;"><a href="https://www.boost.co.nz/"><img alt="Boost" src="/images/rb-sponsors-2018_boost.svg"></a></div>

<h3 style="grid-column: span 12; text-align: center;">Gold sponsors</h3>
  <div style="grid-column: 1 / span 4;"><a href="https://abletech.nz/"><img alt="Abletech" src="/images/rb-sponsors-2018_abletech.svg"></a></div>
  <div style="grid-column: 5 / span 4;"><a href="https://goodwithpixels.com/about/"><img alt="BNZ Digital" src="/images/rb-sponsors-2018_bnz.svg"></a></div>
  <div style="grid-column: 9 / span 4;"><a href="https://www.trademe.co.nz/"><img alt="TradeMe" src="/images/rb-sponsors-2018_trademe.svg"></a></div>

<h3 style="grid-column: span 12; text-align: center;">Silver sponsors</h3>
  <div style="grid-column: 2 / span 3; text-align: right;"><a href="https://www.rabid.co.nz/"><img alt="Rabid" src="/images/rb-sponsors-2018_rabid.svg"></a></div>
  <div style="grid-column: 5 / span 4; text-align: center;"><a href="https://raygun.com/"><img alt="Raygun" src="/images/rb-sponsors-2018_raygun.svg" style="width: 75%;"></a></div>
  <div style="grid-column: 9 / span 3; text-align: left;"><a href="https://www.sailthru.com/"><img alt="Sailthru" src="/images/rb-sponsors-2018_sailthru.svg"></a></div>

<h3 style="grid-column: span 12; text-align: center;">Bronze sponsors</h3>
  <div style="grid-column: 4 / span 2;"><a href="https://www.snapper.co.nz/"><img alt="Snapper" src="/images/rb-sponsors-2018_snapper.svg"></a></div>
  <div style="grid-column: 6 / span 2;"><a href="https://www.springload.co.nz/"><img alt="Springload" src="/images/rb-sponsors-2018_springload.svg"></a></div>
  <div style="grid-column: 8 / span 2;"><a href="https://summeroftech.co.nz/"><img alt="Summer of Tech" src="/images/rb-sponsors-2018_summeroftech.svg"></a></div>

<h3 style="grid-column: span 12; text-align: center;">Swag sponsors</h3>
  <div style="grid-column: 6 / span 2; text-align: center;"><a href="https://github.com/"><img alt="Github" src="/images/rb-sponsors-2018_github.svg"></a></div>
