.parawrap {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position:relative;
}

.parallax {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// LAYER 0 - stuck to screen

.wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
  .titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  .top-left {
    flex: 0 1 auto;
    align-self: flex-start;
  }

  .bottom-right {
    flex: 0 1 auto;
    align-self: flex-end;
    text-align: right;
  }

// LAYER 1 - normal scrolling

.layer1 {
  transform: translateZ(0);
}

.content {
  position: relative;
  z-index: 10;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

  .content-text {
    max-width: 600px;
    margin: 0 auto;
  }

  .first-paragraph {
    margin-top: 16remT;
  }

// LAYER 2 - back

.layer2 {
  transform: translateZ(-2px) scale(3);
  z-index: 2;
  position: relative;
}

  .test-panel {
    width: 200px;
    height: 200px;
    margin: 100px auto;
    background: pink;
  }



// Utilities
