.parawrap {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.parallax {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// LAYER 0 - stuck to screen

.only-desktop {
  display: none;
  @include query($bp-tablet){
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
  }
}

.only-mobile {
  display: block;
  @include query($bp-tablet){
    display: none;
  }
}

  .titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1800px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  .top-left {
    flex: 0 1 auto;
    align-self: flex-start;
    padding-top: 1.875rem;
  }

  .bottom-right {
    flex: 0 1 auto;
    align-self: flex-start;

    @include query($bp-tablet){
      align-self: flex-end
    }
  }

// LAYER 1 - normal scrolling

.layer1 {
  transform: translateZ(0);
  z-index: 10;
}

.content {
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 15rem 5vw 5vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  column-gap: 20px;

  @include query($bp-tablet){
    grid-template-columns: repeat(6, 1fr); 
    padding: 5vw;
  }

  @include query($bp-desktop) {
    grid-template-columns: repeat(12, 1fr); 

  }
}

  .content-text {
    grid-column-start: 1; 
    grid-column-end: 1; 
    margin: 10vh 0;

    @include query($bp-tablet){
      grid-column-start: 2; 
      grid-column-end: 6; 
      margin: 10vh 0;
    }

    @include query($bp-desktop){
      grid-column-start: 4; 
      grid-column-end: 10; 
      margin: 10vh 0;
    }
  }

  .first-paragraph {
    @include query($bp-tablet){
      margin-top: 26vh;
    }
  }

// LAYER 2

.layer2 {
  transform: translateZ(-1px) scale(2);
  z-index: 9;
}

// LAYER 3 & 4

.layer3 {
  transform: translateZ(-3px) scale(4);
  z-index: 8;
}

.layer4 {
  transform: translateZ(-4px) scale(6);
  z-index: 7;
}

.background {
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  grid-template-rows: repeat(19, 9vw);
  column-gap: 10px;
  row-gap: 10px;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 5vw;
}

  .panel {
    background: linear-gradient(30deg, var(--pink-light), var(--orange-light));
    opacity: 0.2;
  }

// NAV

.only-mobile nav {
  display: block;
  position: relative;
  top: -13.5rem;
  li {
    display: block;
    text-align: right;
    padding: 10px;
  }
  @include query($bp-tablet){
    display: none;
  }
}

.only-desktop-nav {
  display: none;
  nav {
    text-align: right;
  }
  @include query($bp-tablet){
    display: block;
    position: absolute; 
    top: 130px; 
    width: 100%; 
    max-width: 1800px; 
    margin: 0 auto; 
    padding: 0 20px;
  }
}

nav {
  .apply {
    color: white;
    font-weight: bold;
    background: var(--orange);
    padding: 10px;
    &:hover {
      text-decoration: none;
      background: var(--orange-light);
    }
  }
}

// Utilities

.nolist {
  list-style: none;
  li {
    display: inline-block;
    margin: 0 10px;
  }
}
