.font-big {
  font-size: 2rem;

  @include query($bp-tablet) {
    font-size: 3rem;
  }
}

h2.font-big {
  font-size: 1.5rem;

  @include query($bp-tablet) {
    font-size: 3rem;
  }
}

.heading {
  font-weight: normal;
  color: var(--orange);
  line-height: 1;
}

.bottom-right {
  text-align: left;

  @include query($bp-tablet){
    text-align: right;
  }
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--orange);
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--orange);
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--pink-dark);
}

strong {
  font-weight: bold;
  color: var(--pink-dark);
}

.content-text p {
  font-size: 1.125rem;
}

a {
  color: var(--orange);
  &:hover {
    color: var(--pink);
    transition: 500ms;
  }
}