<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="only-desktop">
      <div class="titles">
        <h1 class="top-left font-big heading">
          <img src="/images/RB-diamond.svg"/><br/>
          RailsBridge<br/>
          Wellington
        </h1>
        <h2 class="bottom-right font-big heading">
          August 11-12<br/>
          Flux Federation
        </h2>
      </div>
    </div>

    <div class="parawrap">

      <div class="only-mobile">
      <div class="titles">
        <h1 class="top-left font-big heading">
          <img src="/images/RB-diamond.svg"/><br/>
          RailsBridge<br/>
          Wellington
        </h1>
        <h2 class="bottom-right font-big heading">
          August 11-12<br/>
          Flux Federation
        </h2>
      </div>
    </div>

      <div class="content parallax layer1">

        {{ content }}

      </div>

      <div class="background parallax layer2"></div>

      <div class="background parallax layer3">
        
        <div class="panel" style="
          grid-column-start: 3; 
          grid-column-end: 6; 
          grid-row-start: 1; 
          grid-row-end: 6; 
        "></div>
        
        <div class="panel" style="
          grid-column-start: 4; 
          grid-column-end: 7; 
          grid-row-start: 8; 
          grid-row-end: 11;
        "></div>
        
        <div class="panel" style="
          grid-column-start: 6; 
          grid-column-end: 10; 
          grid-row-start: 16; 
          grid-row-end: 19;
        "></div>
      
      </div>

      <div class="background parallax layer4">
        <div class="panel" style="
          grid-column-start: 8; 
          grid-column-end: 11; 
          grid-row-start: 5; 
          grid-row-end: 8;
        "></div>
        <div class="panel" style="
          grid-column-start: 2; 
          grid-column-end: 5; 
          grid-row-start: 12; 
          grid-row-end: 16;
        "></div>
        <div class="panel" style="
          grid-column-start: 8; 
          grid-column-end: 10; 
          grid-row-start: 10; 
          grid-row-end: 13;
        "></div>
      </div>

    </div>

  </body>

</html>
