<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="wrap"><div class="titles">
      <h1 class="top-left font-big heading">
        <img src="/images/RB-diamond.svg"/><br/>
        RailsBridge<br/>
        Wellington
      </h1>
      <h2 class="bottom-right font-big heading">
        August 11-12<br/>
        Flux Federation
      </h2>
    </div></div>

    <div class="content">

      {{ content }}

    </div>

    <div class="background">
      
      decorative background panels
    
    </div>

  </body>

</html>
